<!DOCTYPE html>

<html>
	<head>
		<title>Test converter</title>
	</head>

	<body>

		<dfn class="dynamic-value form-layouts hash">
			<var title="A">one</var>
			<var title="B">two</var>
			<var title="C">three</var>
			<var title="D">four</var>
		</dfn>
		<dfn class="dynamic-value year number">2016</dfn>
		<dfn class="dynamic-value formname string">C</dfn>
		<dfn class="dynamic-value formlayout string" data-dynamic-value-depends-on="formname" data-dynamic-value-collection="form-layouts">three</dfn>
		<dfn class="dynamic-value available-years list" data-dynamic-value-url="/displaygroup/available_years"></dfn>
		<dfn class="dynamic-value available-forms list" data-dynamic-value-url="/displaygroup/available_forms"></dfn>
		<dfn class="dynamic-value statementsets list" data-dynamic-value-url="/displaygroup/available_statementsets/{{year}}"></dfn>
		<dfn class="dynamic-value displaygroups list" data-dynamic-value-url='/displaygroup?where={"form_name": "{{Formname}}","valid_from":{"<":"01-JUN-{{year}}"},"valid_until":{">":"01-JUN-{{year}}"}}'>
		</dfn>

		
			<p class="jjdk dynamic-template no-data">Please select a year and a form name.</p>
		

		
			<p class="dynamic-template no-groups">No form definition {{Formname}} for {{Year}}</p>
		

		
			<select name="{{displaygroupset.dynamic_node_name}}[statement_code]" class="statement_code dynamic-template statement-set-select" data-dynamic-value="{{displaygroupset.set_reference}}" data-dynamic-template-for="statementsets">
				<option disabled="" selected="" value="-1">Please select a statement set label.</option>

				 
					<option value="{{statementset.shortname}}" class="dynamic-template statementset-option" data-dynamic-template-for-each="statementsets">{{statementset.shortname}}</option>
				
			</select>
		

		
			<span class="dynamic-template grp-buttons" data-dynamic-template-for="displaygroups.allow-modifications">
				<button type="button" class="btn btn-primary add-set" title="add a new statement">+</button>
				<button type="button" class="btn btn-info remove-group" title="remove the whole group">-</button>
			</span>
		

		
			<span class="dynamic-template set-buttons" data-dynamic-template-for="displaygroups.allow-modifications">
				<button type="button" class="btn btn-primary remove-set" title="remove this statement">-</button>
			</span>
		

		
			<span class="dynamic-template tbl-buttons" data-dynamic-template-for="displaygroups.allow-modifications">
	      		<button type="button" class="btn btn-info add-group" title="add a new Group">+</button>
			</span>
		
			
	   <div class="dynamic-scope nav">
			<dfn class="dynamic-value nav_1 string">nav 1</dfn>
			<div class="mambo">
				<dfn class="dynamic-value nav_2 string">nav 2</dfn>
		      <div class="dynamic-scope navnav">
					<dfn class="dynamic-value nav_1_1 string">nav 1 navnav 1</dfn>
				</div>
			</div>
	   </div>


		<div id="dynamic" class="row">
			<div class="col-md-9 layout">
				<h2>Display groups</h2>

				<form id="build_input" method="post" enctype="multipart/form-data">

					<div id="selection">
						<label for="formname-select">Form name: </label>
						<select id="formname-select" name="formname-select" data-bind="formname">
							<option disabled="" selected="" value="-1">Please select a Form name.</option>
							
								<option value="{{available_form.form_name}}" class="dynamic-template formname-option" data-dynamic-template-for-each="available_forms">{{available_form.form_name}}</option>
							
						</select>

						<label for="year-select">Year:    </label>
						<select id="year-select" name="year-select" data-bind="year">
							<option disabled="" selected="" value="-1">Please select a period.</option>
							
								<option value="{{available_year.year}}" class="dynamic-template year-option" data-dynamic-template-for-each="available_years">{{available_year.year}}</option>
							
						</select>
					</div>

					<div class="displaygroups" lang="de">
						
							<p class="dynamic-template layout-name" data-dynamic-template-for="formlayout">Layout: {{formlayout}}</p>
						

						 
							<div class="group-table dynamic-template grouptable" data-dynamic-template-for="displaygroups" data-dynamic-template-options="on-empty=no-groups;alternative=no-data">
								<!-- %-	partial ('_'+innerlayout+'.html') % -->
							</div>
						
					</div>
				</form>
			</div>

			<div class="col-md-3 sets">
				
					<h3 class="dynamic-template grouptable" data-dynamic-template-for="displaygroups" data-dynamic-template-options="on-empty=no-groups;alternative=no-data">Statement sets for {{Year}}</h3>
				

				
					<div class="dynamic-template statement-set-list" data-dynamic-template-for="statementsets" data-dynamic-template-options="on-empty=no-statement-set-list;alternative=no-statement-set-list">
						<ul>
							
								<li class="dynamic-template statement-set-detail-outer" data-dynamic-template-for-each="statementsets">
									{{statementset.shortname}}
									<ul>
										
											<li title="{{statement.designation}}" class="dynamic-template statement-set-detail_inner" data-dynamic-template-for-each="statementset.statements">* {{statement.shortname}}</li>
										
									</ul>
								</li>
							
						</ul>
					</div>
				
			</div>
		</div>

		<div class="dynamic-scope nav">
		   <div class="dynamic-scope navnav2">
				<dfn class="dynamic-value nav_2_1 string">nav 1 navnav2 1</dfn>
			</div>
		</div>

		<div id="editor-popup" class="modalbox hidden">
			<div class="html_editor">
				<textarea></textarea>				<button id="cancel_html" type="reset">Cancel</button><button type="submit" id="save_html">OK</button>
			</div>
		</div>


		<div class="dynamic-scope navi">
			<dfn class="dynamic-value nav_1 string">nav_1</dfn>
			<div class="mambo">
				<dfn class="dynamic-value nav_2 string">Nav 2</dfn>
				<dfn class="dynamic-value nav_3 number">Nav #3</dfn>
				<div class="dynamic-scope nav-nav">
					<dfn class="dynamic-value nav-nav-1 string">Nav 1 Nav nav 1</dfn>
				</div>
			</div>	
		</div>
	</body>
</html>