.hidden, .dynamic-template {
	display: none !important;
}

.to-be-replaced {
    background-color: rgba( 10,10,10, 0.03);
    color: rgba( 100,100,100,0.2);
}

.container main h2 {
	margin: 0;
}

.remove.dynamic-value,
.dynamic-value.move-down, .dynamic-value.move-up {
	font-size: larger;
	font-weight: bold;
}

.remove.dynamic-value {
	transform: rotate(15deg);
}

.move-down.dynamic-value::before {
	content: "\21d8";
}
.move-up.dynamic-value::before {
	content: "\21d6";
}

.remove.dynamic-value::before {
	content: "\2717";
}

i.fa.fa-envelope-o {
	transform: rotate(350deg);
}

i.fa.fa-envelope-o::before {
    content: "\2709";
}

/* Main content */
.container main {
	padding: 0 1rem;
	height: calc(100% - 150px);
 	min-height: 50px;
    overflow-y: auto;
}

.container footer {
	position: fixed;
    padding: 16px 15px;
    height: 5em;
    font-size: smaller;
    line-height: 1ex;
}

/* Nested labels (HTML5 specifics)*/
.container label.nested {
	display: block;
	width: 100%;
	height: 36px; 
	line-height: 36px;
}

.container label.nested span.reallabel,
.container label.nested span.reallabel {
	display: inline-block;
	width: 25%;
}

.container label .data-item{
	font-weight: bold;	
}

/* Forms */
.container form.selection,
.container .is-selected {
	padding: 1rem;
	margin: 2em auto;
	max-width: 768px;
	border: 1px solid #CCC;
}

.container form.selection fieldset button {
	width: 20%;
	margin-right: 2%;
}

.container form.is-selected fieldset label.nested {
	margin-bottom: 10px;
}


.container form fieldset select {
	max-width: 50%;
}

/* Company information */
.comp {
	margin: 0 auto 2em auto;
	padding: 1rem;
	max-width: 768px;
	border: 1px solid #CCC;
}

.container main h3 {
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
	max-width: 768px;
}

.please-select {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 768px;
}

.salutation {
	color: green;
}

.please-enter-value, .assistance {
	color: orange;
}

/* Tables */
.container main table {
	margin: 2em 0;
}


.container main tr td i {
	display: inline-block;
	min-width: 1em;
	width: 1em;
	cursor: pointer;
}

.container main  i.remove {
	color: red;
}

.container main tr td i {
	color: #22B6BA;
}

.container table tr td label, 
.container table tr td input, 
.container table tr td select, 
.container table tr td textarea {
    font-family: 'Raleway', Arial;
}

.container table tr td label, 
.container table tr td input, 
.container table tr td button, 
.container table tr td select, 
.container table tr td textarea {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
}

.container table tr td,
.container table tr td label, 
.container table tr td input, 
.container table tr td button, 
.container table tr td select {
    height: 36px;
    line-height: 36px;
}

.container table tr td input, 
.container table tr td select, 
.container table tr td textarea {
    margin: 0;
    padding: 0 10px;
    border: 1px solid #AAA;
    border-radius: 4px;
}

.container table tr td input, 
.container table tr td select, 
.container table tr td textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.container table tr td input:focus, 
.container table tr td select:focus, 
.container table tr td textarea:focus {
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.container table tr td button {
	margin-left: 0.5em;
    width: 2.5em;
	min-width: inherit;
}

.container form fieldset label, .form fieldset label {
	font-weight: normal;
}

.container table tr td button:first-child {
	margin-left: 0;
}

.container table tr td.person-id {
	min-width: 4em;
	text-align: right;
	color: #FF9800;
	font-weight: bold;
}

.formatted.currency,
.formatted.quantity {
	display: inline-block;
	text-align: right;
}

.container table tr td input.salary,
.formatted.currency,
.formatted.quantity
 {
	width: 7em;
}

.container table tfoot tr td {
	font-weight: bold;
}


input[type=number]{
	text-align: right;
}

div.meta {
	padding: 2em;
	font-size: 0.8em;
    background-color: #FAFAFA;
    border-bottom: 1px solid #CCC;
}

div.meta label {
	display: block;
	height: 1.5em;
	line-height: 1.5em;
}

/* Help text */
.container main form fieldset .helpTextContainer {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 20%;
	padding: 0;
	margin: 0;
	border: none;

}

form + p.assistance {
	color: transparent;
}

form:invalid + p.assistance {
	color: initial;
}


input:invalid {
	background-color: rgba( 255,60,60, 0.09 );
}

input:valid {
	background-color: rgba( 80,255,80, 0.06 );
}

input:optional {
	background-color: rgba( 80,255,60, 0.03 );
}

.placeholder {
	color: grey;
}

.container main form fieldset .helpTextContainer a {
	vertical-align: top;
	color: #333;
}

.container main form fieldset .helpTextContainer > a:before {
	content: "\2754";
}

.container main form fieldset .helpTextContainer a:hover {
	cursor: pointer;
}

.container main form fieldset .helpTextContainer > a:hover,
.container main form fieldset .helpTextContainer > a.purple {
	transform: scale(1.4);
	color: #22B6BA;
}

.container main form fieldset .helpTextContainer > a {
	font-size: 1.8em;
    vertical-align: middle;
}

.container main form fieldset .helpTextContainer .helpText {
	display: none;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 25px;
	width: 240px;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 99;
}

.container main form fieldset .helpTextContainer .helpText.visible {
	display: block;
}

.container main form fieldset .helpTextContainer a:hover + .helpText {
	display: block;
}

.container main form fieldset .helpTextContainer .helpText i {
	padding: 0 3px;
	font-size: 0.9em;
}

.container main .can-select:hover {
	background-color: rgba( 240, 248, 255, 0.4 );
}

option.is-selected {
	color: blue !important;
	font-weight: bold;
	background-color: inherit !important;
	margin: initial !important; 
	padding: initial !important;
}

.container main .person-tile.is-selected, .container main tr.is-selected {
    background-color: aliceblue;
}

.container main button.remove {
	color: red;
}

.container main button.remove, .container main button.move-up, .container main button.move-down {
	display: inline-block;
	width: 1.5em;
	height: 2.5em;
	background-color: transparent;
	padding: 0;
	min-width: 1.5em;
	border: none;
}

.person-record.formatted.quantity,
.person-record.formatted.currency,
.person-record.formatted.currency-int {
	text-align: left;
}

.person-tile, .person-tile.is-selected {
    display: inline-block;
    width: 25em;
    margin-right: 1ex;
    margin-left: 3ex;
    margin-bottom: 2ex;
    margin-top: 1.5em;
    background-color: rgba( 255, 154, 0, .25 );
    padding: 2.5em;
}

.person-tile button {
	float: right;
	cursor: pointer;
	color: #22B6BA !important;
	margin-top: -0.7em;
}

.person-tile button.remove {
	color: red !important;
}

address i.fa-envelope-o {
	position: relative;
    top: 2em;
    right: -11em;
}


div .person-tile:first-of-type button.move-up,
div .person-tile:last-of-type button.move-down,
div .person-tile:only-of-type button.remove 	{
	display: none;
}
